/* Reset and General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', serif, Arial, sans-serif;
  }
  
  /* Body Styling */
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../assets/bg_image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px;
  }
  
  /* Root Container Styling */
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9); 
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  }
  
  /* Footer Styling */
  footer {
    margin-top: 20px;
    text-align: center;
    color: #94ad12; 
    font-size: 0.5em;
    opacity: 0.6;
  }
  